$dark-background-color: rgb(16, 18, 16);
$dark-text-color: white;
$dark-text-invalid-color: rgb(255, 255, 255, 0.3);
$dark-button-valid-background: rgb(78, 118, 177);
$dark-button-background: rgb(16, 18, 16);
$dark-border-color: rgba(255, 255, 255, 0.5);
$background-correct: rgb(36, 159, 36);
$background-close: rgb(216, 156, 60);
$background-wrong: rgb(87, 74, 74);

@mixin theme-colors($dark-theme: true) {
  @if $dark-theme {
    background-color: $dark-background-color;
    color: $dark-text-color;
  }
}

@mixin theme-button-colors($dark-theme: true) {
  @if $dark-theme {
    background-color: $dark-button-background;
    color: $dark-text-invalid-color;
    border: 1px solid $dark-border-color;
  }
}

@mixin theme-button-valid-colors($dark-theme: true) {
  @if $dark-theme {
    background-color: $dark-button-valid-background;
    color: $dark-text-color;
  }
}

@mixin theme-input-colors($dark-theme: true) {
  @if $dark-theme {
    background-color: $dark-background-color;
    color: $dark-text-color;
    border: 1px solid $dark-border-color;
  }
}

@mixin theme-cell-colors($dark-theme: true) {
  @if $dark-theme {
    background-color: $dark-background-color;
    color: $dark-text-color;
    border: 1px solid $dark-border-color;
  }
}

@mixin theme-shadows($dark-theme: true) {
  @if $dark-theme {
    box-shadow: 0 0.1rem 0.5rem white;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  &:focus {
    outline: none;
  }

  --word-length: 6;
}

body {
  @include theme-colors($dark-theme: true);
}

nav {
  @include theme-shadows($dark-theme: true);
  position: sticky;
  top: 0;
  @include theme-colors($dark-theme: true);
  z-index: 1;
  margin-bottom: 1.5rem;

  ul {
    list-style: none;
    display: flex;
    padding: 1rem;
    align-items: center;
    font-size: 2rem;
    li {
      display: flex;
      align-items: center;
      &.logo {
        font-weight: bold;
      }

      &.first-right {
        margin-left: auto;
      }

      i {
        display: flex;
        text-align: right;
        font-size: 1.5rem;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

main {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  div.row {
    --columns: var(--word-length);
    --gutter: 10px;
    --row-width: min(600px, 80vw);
    --side-length: calc(
      (var(--row-width) - var(--gutter) * (var(--columns) - 1)) / var(--columns)
    );
    width: var(--row-width);
    display: flex;
    padding: calc(var(--gutter) / 2) 0;
    justify-content: space-between;
    div.cell {
      @include theme-cell-colors($dark-theme: true);
      width: var(--side-length);
      height: var(--side-length);
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.6s ease;

      &.correct {
        background-color: $background-correct;
      }
      &.close {
        background-color: $background-close;
      }
      &.wrong {
        background-color: $background-wrong;
      }
    }
  }
}

footer {
  display: flex;
  width: 100%;
  padding: 1rem 5px;
  justify-content: center;

  @include theme-colors($dark-theme: true);

  input {
    @include theme-input-colors($dark-theme: true);
    flex: 1;
    border-radius: 0.4rem;
    font-size: 1.2rem;
    text-align: center;
    max-width: 350px;
  }

  button {
    @include theme-button-colors($dark-theme: true);
    flex: 0;
    min-width: 4rem;
    margin-left: 5px;
    padding: 0.5rem;
    border-radius: 0.4rem;
    font-size: 1.2rem;
    transition: all 0.3s ease;

    &.valid {
      @include theme-button-valid-colors($dark-theme: true);
      cursor: pointer;
    }
  }
}
