$dark-background-color: rgb(16, 18, 16);
$dark-text-color: white;
$dark-button-background: rgb(64, 79, 101);

@mixin theme-colors($dark-theme: true) {
  @if $dark-theme {
    background-color: $dark-background-color;
    color: $dark-text-color;
  }
}

@mixin theme-button-colors($dark-theme: true) {
  @if $dark-theme {
    background-color: $dark-button-background;
    color: $dark-text-color;
  }
}

@mixin theme-input-colors($dark-theme: true) {
  @if $dark-theme {
    background-color: $dark-background-color;
    color: $dark-text-color;
    border: 1px solid $dark-text-color;
  }
}

@mixin theme-shadows($dark-theme: true) {
  @if $dark-theme {
    box-shadow: 0 0.1rem 0.5rem white;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  @include theme-colors($dark-theme: true);
}

nav {
  @include theme-shadows($dark-theme: true);
  position: sticky;
  top: 0;
  @include theme-colors($dark-theme: true);
  z-index: 1;

  ul {
    list-style: none;
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    li {
      display: flex;
      align-items: center;
      &.logo {
        font-weight: bold;
      }

      i {
        font-size: 1.5rem;
        transform: translateY(-5%);

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

footer {
  display: flex;
  width: 100%;
  padding-top: 1rem;

  @include theme-colors($dark-theme: true);

  input {
    @include theme-input-colors($dark-theme: true);
    flex: 1;
    border-radius: 0.4rem;
    font-size: 1.2rem;
    text-align: center;
  }

  button {
    @include theme-button-colors($dark-theme: true);
    flex: 0;
    min-width: 4rem;
    margin-left: 2px;
    padding: 0.5rem;
    border-radius: 0.4rem;
    font-size: 1.2rem;
    border: none;
  }
}
